
/* ===========================
--- Header-About
============================ */
#content .section-heading{
	margin-top: 50px;
}

/* ===========================
--- Form
============================ */

#content form{
	display: flex;
	flex-direction: column;
}

#content input, #content textarea{
	margin: 10px;
}

#content p{
    font-size: 9px;
    margin: 0 auto;
}