/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * proxima-nova:
 *   - http://typekit.com/eulas/00000000000000003b9b093b
 *   - http://typekit.com/eulas/00000000000000003b9b0931
 *   - http://typekit.com/eulas/00000000000000003b9b0939
 *   - http://typekit.com/eulas/00000000000000003b9b0934
 *   - http://typekit.com/eulas/00000000000000003b9b0932
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-12-19 21:12:21 UTC"}*/

@import url("../p.typekit.net/p7fa8.css?s=1&amp;k=xwe8dcy&amp;ht=tk&amp;f=139.171.173.175.5474&amp;a=6899883&amp;app=typekit&amp;e=css");

@font-face {
font-family:"proxima-nova";
src:url("af/71f83c/00000000000000003b9b093b/27/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/71f83c/00000000000000003b9b093b/27/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/71f83c/00000000000000003b9b093b/27/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"proxima-nova";
src:url("af/ed0e78/00000000000000003b9b0931/27/l6129?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n1&amp;v=3") format("woff2"),url("af/ed0e78/00000000000000003b9b0931/27/d6129?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n1&amp;v=3") format("woff"),url("af/ed0e78/00000000000000003b9b0931/27/a6129?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n1&amp;v=3") format("opentype");
font-style:normal;font-weight:100;
}

@font-face {
font-family:"proxima-nova";
src:url("af/27776b/00000000000000003b9b0939/27/l5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("woff2"),url("af/27776b/00000000000000003b9b0939/27/d5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("woff"),url("af/27776b/00000000000000003b9b0939/27/a5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"proxima-nova";
src:url("af/4838bd/00000000000000003b9b0934/27/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/4838bd/00000000000000003b9b0934/27/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/4838bd/00000000000000003b9b0934/27/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"proxima-nova";
src:url("af/437c3d/00000000000000003b9b0932/27/l3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("woff2"),url("af/437c3d/00000000000000003b9b0932/27/d3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("woff"),url("af/437c3d/00000000000000003b9b0932/27/a3eab?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n3&amp;v=3") format("opentype");
font-style:normal;font-weight:300;
}

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
